@model IEnumerable<DevWorksCapstone.Models.Listing>

@{
    ViewData["Title"] = "EmployerListings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Listings</h1>

<p>
    <a asp-action="CreateListing">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateLookingFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateLookingFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerName)
            </td>
            <td>           
                <a asp-action="RecommendedDevelopers" asp-route-id="@item.ListingId">Recommended Devs</a> | 
                <a asp-action="Team" asp-route-id="@item.ListingId">Team</a>
            </td>
        </tr>
}
    </tbody>
</table>
