@model DevWorksCapstone.Models.Developer

@{
    ViewData["Title"] = "Hire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hire</h1>

<div>
    <h4>Developer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GitHubLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GitHubLink)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RatePerHr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RatePerHr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInContract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsInContract)
        </dd>
    </dl>
</div>
        <form asp-action="Hire">
            <div class="form-group">
                <input type="hidden" asp-for="UserName" />
                <input type="hidden" asp-for="GitHubLink" />
                <input type="hidden" asp-for="IdentityUserId" />
                <input type="hidden" asp-for="ProfileImgURL" />
                <input type="hidden" asp-for="Bio" />
                <input type="hidden" asp-for="RatePerHr" />
                <input type="hidden" asp-for="IsInContract" />
                <input type="hidden" asp-for="DeveloperId" />
                <input type="hidden" asp-for="Email" />

                <label asp-for="ListingsForEmp"></label>
                <select asp-for="MyLisitng" class="form-control" asp-items="@Model.ListingsForEmp"></select>
                <span asp-validation-for="ListingsForEmp" class="text-danger"></span>
            </div>
            <div class="container my-3">
                <h5>Their Abilities:</h5> 
                @using (Html.BeginForm("Index", "Home"))
                {
                    
                        <div>
                            <label>
                                <dt class="col-sm-8">
                                    @Html.DisplayFor(model => model.SelectedAbilities + "  ")
                                </dt>
                            </label>
                        </div>
                    
                }
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" style="float:left; margin: 20px 0 20px 0; " value="Hire" />
                </div>
            </div>          
        </form>
