@model IEnumerable<DevWorksCapstone.Models.Employer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (false == (bool)ViewData["EmployerExists"])
{
    <h1>PLEASE CREATE YOUR ACCOUNT!</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<p>
    <input type="button" class="btn btn-primary" value="Create Listing"
           onclick="location.href='@Url.Action("CreateListing", "Employers")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProfileImgURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityUser)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ProfileImgURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityUser.Id)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmployerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
