@model IEnumerable<DevWorksCapstone.Models.Message>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Messages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageToSend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageToSend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Listing.EmployerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.DeveloperId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
