@model IEnumerable<DevWorksCapstone.Models.Message>
@*ForEmployers*@
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Messages</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageToSend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageToSend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Employer.EmployerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.DeveloperId)
            </td>*@
        <td>
            <a asp-action="Contact" asp-route-id="@item.DeveloperId">Contact</a>|
            <a asp-action="Hire" asp-route-id="@item.DeveloperId">Hire</a>
        </td>
        </tr>
}
    </tbody>
</table>
