@model IEnumerable<DevWorksCapstone.Models.Developer>

@{
    ViewData["Title"] = "PleaseRateDevs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please Rate Your Developers</h1>
<p>Please take a moment to rate your developers as it helps the developers, other employers and us here at DevWorks to give the best service to our customers.</p>
<p>This Listing and Team will be removed once all your developers have rated</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHubLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInContract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHubLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInContract)
            </td>
            <td>
                <a asp-action="MakeReview" asp-route-id="@item.DeveloperId">Rate</a> 
            </td>
        </tr>
}
    </tbody>
</table>
