@model IEnumerable<DevWorksCapstone.Models.Developer>

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Team</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHubLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInContract)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHubLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInContract)
            </td>
        
            <td>
                <a asp-action="Contact" asp-route-id="@item.DeveloperId">Contact</a>
                <a asp-action="EndTeamEarly" asp-route-id="@item.DeveloperId">End Team</a>
            </td>
        </tr>
}
    </tbody>
</table>
