@model IEnumerable<DevWorksCapstone.Models.Message>

@{
    ViewData["Title"] = "ViewConversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Conversation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperName)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Sender == item.DeveloperId)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeveloperName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageToSend)
                    </td>
                    <td>
                    <td>
                        <a asp-action="Contact" asp-route-id="@item.DeveloperId">Contact</a>
                    </td>
                    </td>
                </tr>
            }
            if (item.Sender == item.EmployerId)
            {
                <tr>
                    <td>
                        You
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageToSend)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        }
    </tbody>
   
</table>
