@model DevWorksCapstone.Models.Developer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Developer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GitHubLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GitHubLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImgURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileImgURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RatePerHr)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.RatePerHr)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInContract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsInContract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeveloperId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
