@model IEnumerable<DevWorksCapstone.Models.Developer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (false == (bool)ViewData["DeveloperExists"])
{
    <h1>PLEASE CREATE YOUR ACCOUNT!</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
     
            <th>
                @Html.DisplayNameFor(model => model.GitHubLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatePerHr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInContract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                
                <td>
                    <a class="anchor" href="@Html.DisplayFor(modelItem => item.GitHubLink)" target="_blank">My GitHub</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatePerHr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInContract)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeveloperId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DeveloperId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeveloperId">Delete</a> |
                    <a asp-action="MyReviews" asp-route-id="@item.DeveloperId">My Reviews</a>
                </td>
            </tr>
        }
    </tbody>
</table>
