@model IEnumerable<DevWorksCapstone.Models.Employer>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Messages</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Conversation" asp-route-id="@item.EmployerId">View Messages</a>
                    @*<a asp-action="Contact" asp-route-id="@item.DeveloperId">Contact</a> |
                        <a asp-action="Hire" asp-route-id="@item.DeveloperId">Hire</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
