@model IEnumerable<DevWorksCapstone.Models.Developer>

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Team </h1>
@if ((int)ViewData["TeamExist"] > 0)
{
 @if ((bool)ViewData["TeamIsAlive"] == false)
 {
    <a asp-action="MakeReview" asp-route-id="">Finished </a>
 }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHubLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInContract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a class="anchor" href="@Html.DisplayFor(modelItem => item.GitHubLink)" target="_blank">Open</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInContract)
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
